@import "../_base/typo";
$texto-titulo: 'Poppins', sans-serif;
$text-banner-foot: 'Montserrat', sans-serif;
$text-parrafos: 'Poppins', sans-serif;
$color-parrafo: #F2F2F2;
$color-titulos: #F21313;
$color-parrafo2: #000000;