.index-image{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),  url("https://i.postimg.cc/8Cdc0VkD/mantencion2.jpg");
    width: 100%;
    height: 31.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 600px;
      }
    }   
.meet-service{
    display: flex;
    align-items: center;
    flex-direction: column;
    h2{
        font-size: 3.125rem;
        font-family: $texto-titulo;
        color: #D91A2A;
    }
    p{
        font-size: 25px;
        color: #F21313;
    }
}
.services{
display: flex;
justify-content: center;
gap: 2.5rem;
margin-top: 1.5625rem;
margin-bottom: 30px;
}
.services-content{
    img{
        width: 600px;
        height: 300px;
        border-radius: 8px;
        &:hover{
            box-shadow: 7px 16px 27px -11px rgba(0,0,0,0.75);
    }
    }
    h2{
        margin-top: 1.25rem;
        margin-bottom: 10px;
        font-family: $texto-titulo;
        font-size: 2.5rem;
        background-color: #F21313;
        border-radius: 20px 0 20px 0;
        text-align: center;
        color: $color-parrafo;
    }
    }
    p{
        font-family: $texto-titulo;     
    }
    
.service-list{
    margin-bottom: 15px;
    li{
    font-family: $text-parrafos;
    line-height: 25px;
    }
}
.precio{
    font-family: $text-banner-foot;
    font-size: 1.875rem;
}
.boton{
    background-color: #F21313;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $text-banner-foot;
    margin-top: .9375rem;
    &:hover{
        box-shadow: 7px 16px 27px -11px rgba(0,0,0,0.75);
    }
    a{
    text-decoration: none;
    color: white;
    text-align: center;
    }
}
.services3{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding-bottom: 30px;
    img{
        width: 400px;
        height: 300px;
        border-radius: 8px;
        margin-bottom: .625rem;
            &:hover{
                box-shadow:  7px 16px 27px -11px rgba(0,0,0,0.75);
        }
    }
    h3{
        font-family: $texto-titulo;
        background-color: #F21313;
        border-radius: 20px 0 20px 0;
        text-align: center;
        color: $color-parrafo;
        margin-bottom: .9375rem;
    }
    span{
        font-family: $text-banner-foot;
        font-size: 1.125rem;
    } 
}